[phases.setup]
nixPkgs = ["python310", "gcc"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt",
  "python -m spacy download en_core_web_sm"
]

[start]
cmd = "python bot.py"